body {
  margin: 0;
  font-family: "Caveat", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffbf7;
  color: #98785b;
  font-size: 20px;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overscroll-behavior-y: contain;
}

.toolbar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.toolbar > button {
  padding: 4px;
  min-width: 100px;
}

.toolbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.toolbar ul li {
  /* display: inline-block; */
  line-height: 50px;
  margin: 5px;
  font-family: "Gochi Hand", cursive;
}

.toolbar ul li a {
  display: block;
  width: 110px;
  height: 50px;
  text-align: center;
  color: #9e9994;
  text-decoration: none;
  font-family: "Caveat", cursive;
  font-size: 20px;
  font-weight: bold;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  flex-direction: column;
}

.grid {
  margin-top: 10px;
  border-width: 0px;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.grid .grid-inner {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.row {
  display: flex;
  border-width: 2px;
  justify-content: center;
  align-items: center;
}

.cell {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
  border-width: 3px;
  border-color: #fffbf7;
  border-style: solid;
  width: 50px;
  height: 50px;
  text-transform: capitalize;
  font-size: 20px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  border-radius: 15px;
  background-color: #a1d7e4;
  cursor: pointer;
  color: #3f9db4;
}

.cell:hover {
  font-size: 25px;
  color: white;
}

.cell.selected {
  background-color: #efd37f;
  font-size: 25px;
  color: #c48e31;
}

.cell.marked {
  background-color: #efd37f;
  color: #c48e31;
}

.wordList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  flex-wrap: wrap;
  color: #a1d7e4;
}

@media only screen and (max-width: 759px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .wordList {
    margin-top: 10px;
  }

  .word {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .cell {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 452px) {
  .cell {
    width: 30px;
    height: 30px;
  }
}

.word {
  margin-right: 5px;
}

.word.marked {
  text-decoration: line-through;
  color: #bfd04e;
  opacity: 0.5;
}

input,
textarea,
select,
button {
  outline: none;
  font-family: "Arvo", "Open Sans", "Roboto", "Lato";
}

a,
a:visited,
a:focus,
a:active {
  text-decoration: none;
  /* 	color: #98785b; */
  color: #ea6b6e;
}

a:hover {
  text-decoration: underline;
}
a.btn,
input.btn[type="submit"] {
  display: block;
  width: 140px;
  height: 52px;
  font-family: "Caveat", cursive;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}
a.btn:hover {
  text-decoration: none;
}
a.yellow {
  color: #c48e31;
  background: url(./images/bg_yellow-btn.png) no-repeat;
}
a.red {
  color: #fff;
  background: url(./images/bg_red-btn.png) no-repeat;
}
a.red:hover,
a.yellow:hover {
  opacity: 0.8;
}
input.white[type="submit"] {
  color: #73b0be;
  border: none;
  background: url(./images/bg_white-btn.png) no-repeat;
}
input.white[type="submit"]:hover {
  opacity: 0.8;
}
